@font-face {
  font-family: "iconfont"; /* Project id 4815539 */
  src: url('iconfont.woff2?t=1758123394617') format('woff2'),
       url('iconfont.woff?t=1758123394617') format('woff'),
       url('iconfont.ttf?t=1758123394617') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-order:before {
  content: "\e604";
}

.icon-repeat:before {
  content: "\e605";
}

.icon-loop:before {
  content: "\e606";
}

.icon-shuffle:before {
  content: "\e607";
}

.icon-arrow-down:before {
  content: "\e645";
}

.icon-arrow-up:before {
  content: "\e646";
}

.icon-pause:before {
  content: "\e60f";
}

.icon-play:before {
  content: "\e610";
}

.icon-play-previous:before {
  content: "\e611";
}

.icon-play-next:before {
  content: "\e612";
}

.icon-playlist:before {
  content: "\e6bc";
}

