@font-face {
  font-family: FluentIcon;
  src: url('@/assets/fonts/Segoe Fluent Icons.ttf');
}
.icon-fluent {
  font-family: 'FluentIcon';
  font-style: normal;
  &-chrome {
    &-close::after {
      content: '\e8bb';
    }
    &-minimize::after {
      content: '\e921';
    }
    &-restore::after {
      content: '\e923';
    }
    &-maximize::after {
      content: '\e922';
    }
  }
}
