@font-face {
  font-family: FluentIcon;
  src: url('./assets/fonts/Segoe Fluent Icons.ttf');
}

.icons {
  font-style: normal;
  font-family: 'FluentIcon';
}
* {
  cursor: default;
  user-select: none;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  color: #333333;
  font-size: 14px;
  overflow: hidden;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
a {
  color: #2e2e2e;
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
  outline-style: none;
}
.disabled {
  color: rgba(0, 0, 0, 0.25);
}
#app {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.drag {
  -webkit-app-region: drag;
}
.no-drag {
  -webkit-app-region: no-drag;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.s {
  color: #0c73c2;
}
.bi-heart-fill {
  color: variables.$primaryColor;
}
.scrollbar {
  height: 100%;
  overflow: auto;
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: variables.$scrollbarColor;
    }
  }
  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 3px;
    &:hover {
      background-color: variables.$scrollbarHoverColor;
    }
  }
  &-always {
    overflow: auto;
    height: 100%;

    &::-webkit-scrollbar {
      width: 9px;
      height: 9px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: variables.$scrollbarColor;
      &:hover {
        background-color: variables.$scrollbarHoverColor;
      }
    }
  }
}

.no-padding {
  padding: 0 !important;
}
.n-modal-mask {
  backdrop-filter: blur(2px);
  background-color: rgba(225, 225, 225, 0.2);
}
.app-bottom-space {
  height: variables.$appBottomSpace;
}

//

.slide-up-enter-active,
.slide-up-leave-active {
  transition: transform 280ms ease-in-out;
}

.slide-up-enter-from,
.slide-up-leave-to {
  transform: translateY(100%);
}
// fade and slide-down
.fade-slide-down-enter-active,
.fade-slide-down-leave-active {
  transition: opacity, transform 280ms ease-in-out;
}
.fade-slide-down-enter-from,
.fade-slide-down-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}
/* https://learn.microsoft.com/zh-cn/windows/apps/design/style/segoe-fluent-icons-font */
