@font-face {
  font-family: FluentIcon;
  src: url('./assets/fonts/Segoe Fluent Icons.ttf');
}

.icons {
  font-family: 'FluentIcon';
}
* {
  cursor: default;
  user-select: none;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  color: #333333;
  // background-color: #f5f5f5;
  font-size: 14px;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
a {
  color: #2e2e2e;
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
  outline-style: none;
}
.disabled {
  color: rgba(0, 0, 0, 0.25);
}
#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-rows: variables.$appBarHeight auto;
  position: relative;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.s {
  color: #0c73c2;
}

.scrollbar {
  overflow: auto;
  height: 100%;
  &::-webkit-scrollbar {
    display: none;
    width: 9px;
    height: 9px;
  }

  &:hover {
    &::-webkit-scrollbar {
      display: block;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #e5e5e5;
  }

  &-always {
    overflow: auto;
    height: 100%;
    &::-webkit-scrollbar {
      width: 9px;
      height: 9px;
      &:hover {
        width: 10px;
      }
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #e5e5e5;
    }
  }
}

/* https://learn.microsoft.com/zh-cn/windows/apps/design/style/segoe-fluent-icons-font */
